@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "EuropeExt";
    src: url("fonts/EuropeExtBold.eot");
    src: url("fonts/EuropeExtBold.eot?#iefix") format("embedded-opentype"),
        url("fonts/EuropeExtBold.woff2") format("woff2"),
        url("fonts/EuropeExtBold.woff") format("woff"),
        url("fonts/EuropeExtBold.ttf") format("truetype"),
        url("fonts/EuropeExtBold.svg#EuropeExtBold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-SemiBold.eot");
    src: url("fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("fonts/Montserrat-SemiBold.woff") format("woff"),
        url("fonts/Montserrat-SemiBold.ttf") format("truetype"),
        url("fonts/Montserrat-SemiBold.svg#fonts/Montserrat-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Bold.eot");
    src: url("fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Montserrat-Bold.woff2") format("woff2"),
        url("fonts/Montserrat-Bold.woff") format("woff"),
        url("fonts/Montserrat-Bold.ttf") format("truetype"),
        url("fonts/Montserrat-Bold.svg#fonts/Montserrat-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Light.eot");
    src: url("fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/Montserrat-Light.woff2") format("woff2"),
        url("fonts/Montserrat-Light.woff") format("woff"),
        url("fonts/Montserrat-Light.ttf") format("truetype"),
        url("fonts/Montserrat-Light.svg#fonts/Montserrat-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Medium.eot");
    src: url("fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/Montserrat-Medium.woff2") format("woff2"),
        url("fonts/Montserrat-Medium.woff") format("woff"),
        url("fonts/Montserrat-Medium.ttf") format("truetype"),
        url("fonts/Montserrat-Medium.svg#fonts/Montserrat-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.eot");
    src: url("fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Montserrat-Regular.woff2") format("woff2"),
        url("fonts/Montserrat-Regular.woff") format("woff"),
        url("fonts/Montserrat-Regular.ttf") format("truetype"),
        url("fonts/Montserrat-Regular.svg#fonts/Montserrat-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 14px;
    line-height: 24px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
}

header {
    order: 1;
    -webkit-order: 1;
    position: relative;
    z-index: 3;
}

.content {
    order: 2;
    -webkit-order: 2;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

footer {
    order: 3;
    -webkit-order: 3;
    position: relative;
    z-index: 2;
}

.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 20px 0;
}

h1 {
    font-family: "EuropeExt", "Arial", "Verdana", sans-serif;
    font-size: 34px;
    line-height: 37px;
    font-weight: bold;
    color: #000000;
}

h2 {
    font-family: "EuropeExt", "Arial", "Verdana", sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    color: #000000;
}

h2.main-h2 {
    text-transform: uppercase;
    text-align: center;
    line-height: 26px;
}

h2.main-h2:before {
    display: block;
    content: "";
    height: 40px;
    width: 1px;
    margin: 0 auto 23px auto;
    background: #000000;
}

h2.main-h2:after {
    display: block;
    content: "";
    height: 40px;
    width: 1px;
    margin: 24px auto 0 auto;
    background: #000000;
}

h3 {
    font-family: "EuropeExt", "Arial", "Verdana", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
}

h4 {
    padding: 0 0 3px 0;
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: #000000;
}

p {
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #000000;
}

li {
    list-style: none;
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    color: #000000;
}

ol li {
    position: relative;
    padding: 4px 0 4px 11px;
}

ol li:before {
    display: block;
    content: "";
    width: 4px;
    height: 1px;
    position: absolute;
    top: 14px;
    left: 0;
    background: #000000;
}

a {
    text-decoration: none;
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #000000;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

.yellow-pill {
    display: inline-block;
    vertical-align: top;
    margin: 34px 0;
    padding: 22px 3% 20px 3%;
    border: 1px solid transparent;
    background: #f2c81c;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: background-color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: background-color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: background-color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.yellow-pill:link,
.yellow-pill:visited {
    background: #f2c81c;
}

.yellow-pill:active,
.yellow-pill.active {
    background: #fed634;
}

.yellow-pill:hover {
    background: #fed634;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {
    display: block;
    width: 100%;
    height: 71px;
    padding: 0 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 69px;
    font-weight: 300;
    color: #000000;
}

input:focus {
    border-color: #00bcb6;
}

textarea {
    display: block;
    width: 100%;
    height: 150px;
    padding: 22px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
}

textarea:focus {
    border-color: #00bcb6;
}

label {
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.desc-novisible {
    display: none;
}

/*-- Icons --*/

.map-mark {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 34px;
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
    background-position: -6px -4px;
}

.clock {
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 34px;
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
    background-position: -1px -64px;
}

/*-- /Icons --*/

/*-- Pills --*/

.transparent-pill {
    display: inline-block;
    vertical-align: top;
    min-width: 350px;
    margin: 34px 0;
    padding: 21px 3%;
    border: 1px solid #f2c81c;
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
}

.transparent-pill:link,
.transparent-pill:visited {
    background: transparent;
    color: #000000;
}

.transparent-pill:active,
.transparent-pill.active {
    background: #f2c81c;
    color: #ffffff;
}

.transparent-pill:hover {
    background: #f2c81c;
    color: #ffffff;
}

.grey-pill {
    display: inline-block;
    vertical-align: top;
    min-width: 350px;
    margin: 34px 0;
    padding: 21px 3%;
    border: 1px solid #e9e9e9;
    background: #e9e9e9;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
}

.grey-pill:link,
.grey-pill:visited {
    background: #e9e9e9;
}

.grey-pill:active,
.grey-pill.active {
    background: transparent;
}

.grey-pill:hover {
    background: transparent;
}

.yellow-pill {
    display: inline-block;
    vertical-align: top;
    margin: 34px 0;
    padding: 22px 3% 20px 3%;
    border: 1px solid transparent;
    background: #f2c81c;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
}

.yellow-pill:link,
.yellow-pill:visited {
    background: #f2c81c;
}

.yellow-pill:active,
.yellow-pill.active {
    background: #fed634;
}

.yellow-pill:hover {
    background: #fed634;
}

/*-- /Pills --*/

/*-- Links --*/

.yellow_link {
    display: inline;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #f2c81c;
    border-bottom: 1px solid #f2c81c;
}

.yellow_link:link,
.yellow_link:visited {
    color: #f2c81c;
    border-bottom: 1px solid #f2c81c;
}

.yellow_link:active,
.yellow_link.active {
    color: #00bcb6;
    border-bottom: 1px solid transparent;
}

.yellow_link:hover {
    color: #00bcb6;
    border-bottom: 1px solid transparent;
}

/*-- /Links --*/

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 65px;
    height: 65px;
    cursor: pointer;
    position: absolute;
    top: 100%;
    margin-top: -65px;
    z-index: 2;
    border: 1px solid transparent;
    background-color: #f3f3f3;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: background-color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: background-color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: background-color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-arrow:hover {
    background-color: #00bcb6;
}

.slick-arrow:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/arrows_sprite.png);
    background-repeat: no-repeat;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/arrows_sprite.png);
    background-repeat: no-repeat;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-prev:before {
    background-position: 22px 21px;
}

.slick-next:before {
    background-position: -34px 21px;
}

.slick-prev:after {
    background-position: 22px -28px;
}

.slick-next:after {
    background-position: -34px -28px;
}

.slick-arrow:hover:before {
    opacity: 0;
}

.slick-arrow:hover:after {
    opacity: 1;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    margin: 5px 10px;
}

.slick-dots li button {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    background: #f3f3f3;
    font-size: 0;
    line-height: 0;
}

.slick-dots li button:hover {
    background: #00bcb6;
}

.slick-dots li.slick-active button {
    background: #00bcb6;
}

/*-- /Slick --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.main_sect {
    padding-bottom: 39px;
    background: #ffffff;
}

.main_sect .row-1 {
    position: relative;
    z-index: 12;
    text-align: right;
    padding-top: 19px;
    padding-bottom: 9px;
    padding-left: 225px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    max-width: 174px;
}

.logo img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.thumb-1 {
    display: inline-table;
    vertical-align: top;
    text-align: left;
    width: 33.33%;
    max-width: 225px;
    margin: 10px 20px;
}

.thumb-1 .col-1 {
    display: table-cell;
    vertical-align: top;
    width: 40px;
    padding-right: 15px;
}

.thumb-1 .col-2 {
    display: table-cell;
    vertical-align: top;
    width: auto;
    padding-top: 3px;
}

.thumb-1 p {
    font-size: 12px;
    line-height: 14px;
}

.callback_wrapp {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 15px;
    padding: 10px 0;
}

.tel-link {
    font-family: "EuropeExt", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #3f3f3f;
}

.tel-link:link,
.tel-link:visited {
    color: #3f3f3f;
}

.tel-link:active,
.tel-link.active {
    color: #00bcb6;
}

.tel-link:hover {
    color: #00bcb6;
}

.main_sect .row-2 {
    padding-left: 170px;
    position: relative;
}

.main_sect .row-2 .logo {
    position: absolute;
    bottom: -14px;
    left: 44px;
    z-index: 12;
}

.main-nav_wrapp {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-left: none;
    padding: 10px 0;
}

.main-nav {
    text-align: right;
}

.main-nav li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.main-nav li a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 10px 36px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #000000;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #000000;
}

.main-nav li a:active,
.main-nav li.active a {
    color: #f2c81c;
}

.main-nav li:hover a {
    color: #f2c81c;
}

.main-nav li a:before {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e9e9e9;
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main-nav li:nth-child(1) a:before {
    display: none;
}

.main-nav li.active a:before  {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
}

.main-nav li.active + li a:before  {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
}

.main-nav li:hover a:before  {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
}

.main-nav li:hover + li a:before  {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
}

/* ----- Responsive Menu Button ------ */

.respbtn-col {
    /*display: inline-block;*/
    display: none;
    vertical-align: top;
    position: relative;
    top: 7px;
    margin-left: 9%;
}

.respmenubtn {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 37px;
    position: relative;
    background: transparent;
    cursor: pointer;
    border: 1px solid transparent;
}

.respmenubtn span {
    display: block;
    width: 27px;
    height: 2px;
    background: #000000;
    margin: 0 auto 7px auto;

    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: #4fd1cd;
}

.respmenubtn.active span {
    position: relative;
    width: 35px;
    top: 2px;
    left: 0;
    background: #4fd1cd;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 4px;
    left: 3px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

.lines_wrapp {
    position: relative;
    margin-top: 39px;
}

.lines_row {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.lines_row .row {
    position: relative;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
}

.lines {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.lines:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    background: #f3f3f3;
}

.lines span:nth-child(1) {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;
    margin-left: -1px;
    background: #f3f3f3;
}

.lines span:nth-child(2) {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 25%;
    margin-right: -1px;
    background: #f3f3f3;
}

.lines_wrapp section {
    position: relative;
    z-index: 2;
}

/*-- Section 1 - Main Page --*/

.promo-sect {
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

.promo-article {
    background-color: #f3f3f3;
}

.promo-article .row {
    display: table;
    width: 100%;
    position: relative;
    z-index: 2;
}

.promo-article .descript {
    display: table-cell;
    vertical-align: middle;
}

.promo-article .desc-inner {
    max-width: 474px;
    padding: 75px 3.5% 56px 0;
    position: relative;
    z-index: 2;
}

h2.h-vertical {
    opacity: .05;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 64px;
    color: #000000;
}

.promo-article .descript .h-vertical_box {
    position: absolute;
    top: 103px;
    left: -203px;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.h-vertical_box h2 {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.promo-article h1 {
    padding: 11px 0;
}

.promo-article p {
    padding: 10px 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}

.info {
    border-left: 5px solid #00bcb6;
    margin: 23px 0;
    padding-left: 19px;
}

.info p {
    padding: 0;
    font-size: 18px;
    line-height: 19px;
    font-weight: 600;
}

.promo-img_wrapp {
    width: auto;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.promo-img_wrapp .promo-img {
    width: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sect-2 {
    padding-top: 1px;
}

.article_1 {
    position: relative;
    margin: 19px 0 30px 0;
}

.art_1-img {
    width: 42%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.art_1-img img {
    width: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.article_1 .descript {
    width: 58%;
    float: right;
}

.article_1 h2 {
    text-transform: uppercase;
    padding: 25px 3% 16px 6%;
    line-height: 29px;
}

.blue {
    color: #00bcb6;
}

.border_wrapp {
    margin: 21px 0 0 0;
    padding: 16px 3% 16px 6%;
    background: #ffffff;
    border-top: 15px solid #f3f3f3;
    border-right: 15px solid #f3f3f3;
    border-bottom: 15px solid #f3f3f3;
}

.border_wrapp p {
    padding: 5px 0;
    font-weight: 300;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.thumbnails_2 {
    margin: 25px -15px 7px -15px;
}

.thumb-2 {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    text-align: center;
    padding: 20px 15px;
}

.thumb-2 .icon-box {
    height: 110px;
    margin: 9px 0;
    position: relative;
}

.thumb-2 .icon-box img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb-2 h3 {
    display: block;
    min-height: 39px;
    font-size: 15px;
    line-height: 15px;
}

.thumb-2 p {
    line-height: 16px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.items_wrapp {
    overflow: hidden;
}

.article_2 {
    min-height: 600px;
    margin: 80px 0;
    background: #ffffff;
}

.article_2:nth-child(1) {
    margin-top: 19px;
}

.article_2:last-child {
    margin-bottom: 19px;
}

.article_2 .right {
    width: 50%;
}

.article_2 .left {
    width: 50%;
}

.article_2 .descript {
    height: 400px;
    background: #ffffff;
    border-top: 15px solid #f3f3f3;
    border-right: 15px solid #f3f3f3;
    position: relative;
    padding: 12px 5% 20px 7%;
}

.article_2 .descript:after {
    display: block;
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.25) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.25) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#ffffff',GradientType=0 );
}

.article_2 .descript h3 {
    text-transform: uppercase;
    padding: 22px 0;
}

.article_2 .descript p {
    padding: 5px 0;
    line-height: 23px;
}

.thumbnails_3 .thumb-3 {
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 200px;
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.thumbnails_3 .thumb-3:hover {
    opacity: .5;
}

.thumbnails_4 .thumb-4 {
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 400px;
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.thumbnails_4 .thumb-4:nth-child(2),
.thumbnails_4 .thumb-4:nth-child(3) {
    height: 200px;
}

.thumbnails_4 .thumb-4:nth-child(4) {
    margin-top: -200px;
}

.thumbnails_4 .thumb-4:hover {
    opacity: .5;
}

.article_2:nth-child(even) .right {
    float: left;
}

.article_2:nth-child(even) .left {
    float: right;
}

.article_2:nth-child(even) .descript {
    border-top: 15px solid #f3f3f3;
    border-left: 15px solid #f3f3f3;
    border-right: none;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.calc_wrapp {
    display: table;
    width: 100%;
    margin: 39px 0 29px 0;
    background: #ffffff;
}

.ranges_wrapp {
    display: table-cell;
    vertical-align: top;
    width: 60%;
    padding: 13px 3.5% 11px 3.5%;
    border-top: 15px solid #f3f3f3;
    border-left: 15px solid #f3f3f3;
    border-bottom: 15px solid #f3f3f3;
}

.range_wrapp {
    margin: 20px 0;
}

.range_wrapp h3 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
}

.range_slider {
    padding: 25px 0 61px 0;
}

.total-price_wrapp {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    padding: 0 6%;
    position: relative;
    overflow: hidden;
}

.total-price_wrapp:before {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.total-price_wrapp .total-price-img {
    width: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.total-price_wrapp .inner {
    position: relative;
    z-index: 3;
}

.total-price_wrapp .inner h3 {
    font-size: 24px;
    line-height: 25px;
    color: #ffffff;
}

.total-price_wrapp .inner p {
    font-family: "EuropeExt", "Arial", "Verdana", sans-serif;
    font-size: 28px;
    line-height: 36px;
    color: #ffffff;
}

.total-price_wrapp .yellow-pill {
    display: block;
    margin: 28px 0;
}

.select_wrapp {
    margin: 20px 0;
}

.inline_inputs {
    margin: 15px -10px;
}

.inline_inputs > div {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px;
}

.input_wrapp_2 {
    display: inline-block;
    vertical-align: top;
    width: 165px;
}

.checkboxes_wrapp {
    margin: 6px -10px;
}

.checkbox {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 7px 10px;
}

.checkbox input {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.checkbox label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    padding: 3px 5px 5px 35px;
}

.checkbox label:before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox input:checked + label:before {
    background-image: url(img/check.png);
    background-position: center;
    background-repeat: no-repeat;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.team_thumbnails {
    margin: 63px 0 29px 0;
    position: relative;
}

.team_thumbnails .row {
    position: relative;
    z-index: 2;
}

.team_thumb {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 2%;
    text-align: center;
}

.team_thumb .photo-box {
    height: 470px;
    position: relative;
}

.team_thumb .photo-box img {
    display: block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.team_thumb .descript {
    background-color: #f3f3f3;
    padding: 28px 3%;
}

.team_thumb h3 {
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 18px;
}

.team_thumb p {
    padding: 6px 0;
    font-weight: normal;
}

.thumb_bg {
    height: 124px;
    width: 100%;
    background-color: #f3f3f3;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 7 - Main Page --*/

.sect-7 {
    padding-bottom: 50px;
}

.item-article {
    margin: 39px 0;
}

.item-article .left {
    display: table;
    width: 43%;
    padding-top: 24px;
    padding-right: 5%;
}

.item-article .right {
    width: 57%;
    overflow: hidden;
}

.item-article .left .col-1 {
    display: table-cell;
    vertical-align: top;
    width: 66px;
    padding-left: 19px;
}

.item-article .left .col-2 {
    display: table-cell;
    vertical-align: top;
    width: calc(100% - 50px);
}

.num {
    position: relative;
    font-family: "EuropeExt", "Arial", "Verdana", sans-serif;
    font-size: 24px;
    line-height: 27px;
    color: #f3f3f3;
}

.num:before {
    content: "";
    width: 38px;
    height: 1px;
    background-color: #f3f3f3;
    position: absolute;
    top: 14px;
    left: -48px;
}

.item-article h3 {
    padding: 5px 0 12px 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
}

.item-article ol li {
    font-weight: normal;
}

.item-article .right img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.border_wrapp_2 {
    border: 15px solid #f3f3f3;
    background: #ffffff;
    padding: 34px 6% 33px 6%;
}

.border_wrapp_2 + .border_wrapp_2 {
    border-top: none;
}

.border_wrapp_2 p {
    line-height: 21px;
}

.blue-info {
    display: inline-block;
    vertical-align: top;
    margin: 1px 0;
    padding: 9px 19px;
    background: #00bcb6;
    font-size: 16px;
    color: #ffffff;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 8 - Main Page --*/

.article_3:before {
    content: "";
    width: 100%;
    height: calc(100% - 130px);
    background: #f3f3f3;
    position: absolute;
    top: 60px;
    left: 0;
}

.article_3 .row {
    position: relative;
    z-index: 2;
}

.article_3 .col-1 {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
}

.article_3 .col-2 {
    display: inline-block;
    vertical-align: middle;
    width: 55%;
    padding: 60px 0 70px 0;
}

.article_3 .img-box {
    position: relative;
}

.article_3 .img-box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.article_3 .img-box .yellow-pill {
    min-width: 313px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-60%, -50%);
    -moz-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
}

.article_3 .right .descript {
    padding: 0 9% 0 0;
}

.article_3 .descript p {
    font-family: "EuropeExt", "Arial", "Verdana", sans-serif;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    color: #000000;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 9 - Main Page --*/

.sect-9 {
    padding: 60px 0;
}

.testimonilas-slider {
    margin: 25px 0 10px 0;
}

.testimonial {
    position: relative;
}

.testimonial .img-box {
    width: 43%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.testimonial .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.testimonial .descript {
    width: 57%;
    float: right;
    background: #ffffff;
    padding: 25px 3.5%;
    border-top: 15px solid #f3f3f3;
    border-right: 15px solid #f3f3f3;
    border-bottom: 15px solid #f3f3f3;
}

.testimonial .descript h3 {
    text-transform: uppercase;
    padding: 5px 0;
    line-height: 31px;
}

.testimonial .descript p {
    font-style: italic;
    padding: 9px 0;
    line-height: 20px;
}

.author-box {
    display: table;
    width: 100%;
    margin: 16px 0;
}

.author-box .col-1 {
    display: table-cell;
    vertical-align: middle;
    width: 110px;
}

.author-box .col-2 {
    display: table-cell;
    vertical-align: middle;
    padding: 11px 0;
}

.author-box .photo-box  {
    max-width: 80px;
    overflow: hidden;
}

.author-box .photo-box img  {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.author-box .col-2 h3 {
    padding: 4px 0;
    font-family: "EuropeExt", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.author-box .col-2 p {
    padding: 5px 0;
    font-style: normal;
}

.author-box .yellow_link {
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
}

.testimonilas-slider {
    padding-bottom: 70px;
}

.testimonilas-slider .slick-dots {
    position: relative;
    top: 51px;
    padding: 0 75px;
}

/*-- /Section 9 - Main Page --*/

/*-- Section 10 - Main Page --*/

.contacts-sect {
    padding: 1px 0;
}

.contacts_wrapp {
    max-width: 350px;
    position: relative;
    z-index: 2;
}

.contacts_wrapp .inner {
    margin: 112px 0 107px 0;
    padding: 3px 11.5% 33px 11.5%;
    background-color: rgb(255, 255, 255);
}

.contacts-thumb {
    margin: 28px 0;
}

.contacts-thumb h3 {
    padding-bottom: 3px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
}

.contacts-thumb p {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

.black-link {
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
}

.black-link:link,
.black-link:visited {
    color: #000000;
}

.black-link:active,
.black-link.active {
    color: #00bcb6;
}

.black-link:hover {
    color: #00bcb6;
}

.contacts_wrapp .yellow_link {
    font-weight: 500;
}

.contacts_wrapp .yellow-pill {
    width: 100%;
    margin: 6px 0;
    font-size: 14px;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
}

/*-- /Section 10 - Main Page --*/

/*-- Section 1 - TY Page --*/

.promo-article.ty .descript .h-vertical_box {
    top: 115px;
    left: -159px;
}

.ty h2.h-vertical {
    font-size: 42px;
    line-height: 42px;
}

.promo-article .desc-inner {
    padding: 121px 3.5% 94px 0;
}

.ty .transparent-pill {
    margin: 45px 0;
}

/*-- /Section 1 - TY Page --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

.footer {
    padding-top: 10px;
}

.footer-row {
    background: #f9f9f9;
    padding: 9px 0;
}

.webstudio-p {
    text-align: center;
    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #000000;
}

.reforge {
    display: inline-block;
    vertical-align: middle;
    width: 89px;
    height: auto;
    margin: 10px 0 10px 18px;
}

.reforge img {
    display: block;
    width: auto;
    height: auto;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.reforge:hover img {
    opacity: .7;
}

/*-------------------------------------------*/
/* ----- /FOOTER ------ */
/*-------------------------------------------*/

/*-- Popups --*/

.popup_wrapp {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 15;
}

.popup {
    display: block;
    max-width: 440px;
    position: relative;
    margin: 90px auto 50px auto;
    padding: 48px 3.5% 55px 3.5%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 8px 17px .7px rgba(40, 14, 1, .17);
    -moz-box-shadow: 0 8px 17px .7px rgba(40, 14, 1, .17);
    box-shadow: 0 8px 17px .7px rgba(40, 14, 1, .17);
}

.close-popup {
    background-color: transparent;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 12;
    position: absolute;
    top: -35px;
    right: -35px;
    background-image: url(img/close.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
}

.popup h3 {
    padding: 5px 0;
    text-transform: uppercase;
}

.popup .h-desc {
    font-size: 20px;
    line-height: 25px;
}

.form_wrapp {
    margin: 33px 0 14px 0;
}

.input_wrapp {
    margin: 20px 0;
}

.popup p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}

.popup p a {
    font-weight: 500;
}

.popup .submit_btn {
    width: 100%;
    margin: 10px 0;
}


/*-- /Popups --*/